# Configuration file

general {
    # Discord webhook URL for audit logs [default: ]
    S:discordWebhookUrl=

    # Whether to apply the tainting tag to items. If false, items are monitored and logged but not modified. [default: true]
    B:taintingEnabled=false
}


